/* GENERAL STYLING */
body {
	background-color: ghostwhite;
}



/* STYLING FOR CHECKBOX EVENTS */
.dark-theme {
	background-color: black;
	color: white;
}

.large-text {
	font-size: 2em;
}




/* NAVBAR */
#whatever {
	width: 618px;
	margin-right: 19px;
}